@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">V-Okta</h1>
    <p>Welcome to V-Okta where you can vote on your favorite movies.</p>
</div>

<div class="text-center">
    <a href="~/Movies/Index" class="btn btn-primary">Vote on Movies</a>
    <a href="~/Movies/Manage" class="btn btn-primary">Add a Movie</a>
</div>
